{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign-up{% endblock %}

{% block content %}
<h2>Sign-up</h2>


<form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <form class="was-validated">
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
            <label class="custom-control-label" for="customControlValidation1">I agree to the ESCAMBOX's Terms of Service*</label>

            <div class="invalid-feedback">Please, accept the Terms of Service to sign-up.

            </div>
        </div>

        <button class="btn btn-success" href="#" type="submit">Sign-up</button>
        </form>
        {% endblock %}

    </form>