{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Products</h1>
    <p><b>In this page you can find all the available products and get in touch with the sellers.</b></p>
<div class = "row">
    <div class="col-md-4">
    {% if request.user.is_authenticated %}
    <a href="{% url 'pages:productcreate' %}" class="my-4 btn btn-primary">Create new product</a>
    {% endif %}
    <form action="." method="GET" class="form-inline">
        <input type="text" id="search" name="search" class="form-control"  placeholder = "Search for a product">
        <input type="submit" class="my-4 btn btn-primary "  style= "margin-left:5px;"value ="Search">
        {% if request.user.is_authenticated %}
        <button name="favorites" class="my-4 btn btn-primary" value="true"> Show only your favorite products </button>
        <button name="own_products" class="my-4 btn btn-primary" value="true"> Show only your own products </button>
        {% endif %}
    </form>
    </div>
</div>
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">
                <div class="d-inline-flex">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="col-4 mr-4 rounded float-left img-fluid"/>
                    {% endif %}
                    <div class="">
                        <h2>{{ product.title|upper }}</h2>
                        <p>{{ product.description }}</p>
                        <a href="{% url 'pages:productdetail' pk=product.id %}" class="btn btn-primary">See</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if page_obj is not None %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

