{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Products</h1>
    <p><b>In this page you can find all the available products and get in touch with the sellers.</b></p>
<div class = "row">
    <div class="col-md-4">
    {% if request.user.is_authenticated %}
    <a href="{% url 'pages:productcreate' %}" class="my-4 btn btn-primary">Create new product</a>
    {% endif %}
    <form action="." method="GET" class="form-inline">
        <input type="text" id="search" name="search" class="form-control"  placeholder = "Search for a product">
        <input type="submit" class="my-4 btn btn-primary "  style= "margin-left:5px;"value ="Search">
        {% if request.user.is_authenticated %}
        <button name="favorites" class="my-4 btn btn-primary" value="true"> Show only your favorite products </button>
        <button name="own_products" class="my-4 btn btn-primary" value="true"> Show only your own products </button>
        {% endif %}
    </form>
    </div>
</div>
    <div class="card-columns">
        {% for product in products %}
                <div class="card shadow-sm">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top"/>
                    {% else %}
                        <img src="/static/placeholder.png" class="card-img-top"/>
                    {% endif %}
                    <h5 class="card-header">{{ product.title|upper }}</h5>
                    <div class="card-body">
                        {% if product.description == "" %}
                        <p class="card-text text-muted font-italic">No description added</p>
                        {% else %}
                            <p class="card-text">{{ product.description }}</p>
                        {% endif %}
                        <p class="font-weight-bold">R$ {{ product.price }}</p>
                        <a href="{% url 'pages:productdetail' pk=product.id %}" class="stretched-link"></a>
                    </div>
                </div>
        {% endfor %}
        </div>

    {% if page_obj is not None %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

